{
  "dbConfig": {
    "user": "postgres",
    "host": "localhost",
    "database": "waxgames",
    "password": "postgres",
    "port": 5432  
  },
  "consumer": {
    "network": "wax",
    "host": "127.0.0.1",
    "port": "8855",
    "ack": 10,
    "async": false,
    "rpcPort": "8888"
  },
  "statsd": {
    "host": "localhost",
    "port": 8125,
    "prefix": "reporting-chronicle-heartbeat"
  },
  "contracts" : {
    "bcbrawlers" : {
      "gearadd": [],
      "gearrem": [],
      "brawleradd": [],
      "brawlerrem": [],
      "ringselect": [],
      "brawl": [],
      "heal": [],
      "wdrawbrawler": [],
      "wdrawbrwl": [],
      "craft": [],
      "configset": [],
      "configclear": [],
      "maintset": [],
      "brawlerset": [],
      "gearset": [],
      "ringset": [],
      "ringdset": [],
      "slotdset": [],
      "brawlerdel": [],
      "geardel": [],
      "ringdel": [],
      "ringddel": [],
      "slotddel": [],
      "recset": [],
      "recdel": [],
      "recreqaddnft": [],
      "recreqaddft": [],
      "recreqdel": [],
      "recresadd": [],
      "recresdel": [],
      "ruleset": [],
      "ruledel": [],
      "ruleitemadd": [],
      "ruleitemdel": [],
      "receiverand": [],
      "logbrawl": []
    }
  }
}
